<ion-view title="Anti Scammer" id="page2">
  <ion-content padding="true" class="has-header">
    <div id="antiScammer-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
        We require access to your address book in order to add a new contact called "Scam Warning". The idea is to help you recognise known phone scammers so you won't share your details if you answer the call.</p>

      <p style="color:#000000;">Every effort is made to keep this list up to date but there is no guarantee that scammers won't start using new phone numbers. If you have received a call from a scammer, you can submit it in an anonymous way and we'll add it to the list. Help us
        stop them!</p>
    </div>
    <div class="spacer" style="width: 300px; height: 86px;"></div>
    <button id="antiScammer-button1" class="button button-positive button-block" ng-click="onDeviceReady();">Tap me to update</button>
    <div id="antiScammer-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Last updated on </p>
    </div>
  </ion-content>
</ion-view>
