<ion-view title="Settings" id="page3">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="settings-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settings-toggle1">Auto Update</ion-toggle>
    </form>
    <ion-list id="settings-list2">
      <ion-item id="settings-list-item1">Version</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <div id="settings-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
  </ion-content>
</ion-view>