<ion-view title="Support" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="support-form2" class="list">
      <div class="spacer" style="width: 300px; height: 28px;"></div>
      <div id="support-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Email (optional, if you wish us to reply)</p>
      </div>
      <label class="item item-input" id="support-input1">
        <input type="text" placeholder="your@email.com">
      </label>
    </form>
    <div id="support-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Message</p>
    </div>
    <form id="support-form4" class="list">
      <label class="item item-input" id="support-textarea1">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
      <div class="spacer" style="height: 100px;"></div>
      <button id="support-button2" class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>